.options-container {
  padding: 10px;
  float: left;
  width: 250px;
  box-sizing: border-box;
}

.options-container > p {
  text-transform: uppercase;
}

.option {
  margin: 5px 0;
}

.map-container {
  float: right;
  width: calc(100% - 250px);
}
