################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GeoPrototypeWebApi/GeoPrototypeWebApi/obj
/GeoPrototypeWebApi/GeoPrototypeWebApi/bin/Debug/netcoreapp2.1
/.vs
/GeoPrototypeWebApi/.vs/GeoPrototypeWebApi/v15
